<div class="header-block">
  <div class="header-content">
    <div class="header-left-block">
      <div class="main-title">
        <a [routerLink]="'/secret'">TaskBoard</a>
      </div>
    </div>
    <div class="header-right-block">
      <div class="navigate-selection-block">
        @for(nav of navigateItems; track nav.name) {
          <a class="nav-item-name" [class.active]="isActiveRoute(nav.url)" [routerLink]="nav.url">
            {{ nav.name }}
          </a>
        }
      </div>
      <div class="auth-action">
        <button class="auth-button">
<!--          <img src="./assets/images/common/user-auth-icon.svg" alt="авторизация">-->
          <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M29.3333 13.3333C29.3333 16.2789 26.9454 18.6667 24 18.6667C21.0544 18.6667 18.6666 16.2789 18.6666 13.3333C18.6666 10.3878 21.0544 8 24 8C26.9454 8 29.3333 10.3878 29.3333 13.3333Z" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M45.3333 22.6667C45.3333 34.4488 35.7818 44 24 44C12.2179 44 2.66663 34.4488 2.66663 22.6667C2.66663 10.8846 12.2179 1.33337 24 1.33337C35.7818 1.33337 45.3333 10.8846 45.3333 22.6667Z" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M24 21.3334C17.3726 21.3334 12 27.3029 12 34.6667H36C36 27.3029 30.6274 21.3334 24 21.3334Z" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </button>
        <div class="auth-dropdown">
          <p class="auth-option">Войти</p>
          <p class="auth-option">Регистрация</p>
        </div>
      </div>
    </div>
  </div>
</div>
